@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.add-form {
  padding: 2rem 10%;
}

.form-el {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
  justify-content: space-between;
}

.add-book-title {
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.book-input {
  height: 2.813rem;
  flex: 1;
  padding: 0.813rem 0 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.add-book-btn {
  width: 11.5rem;
  height: 2.813rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
  border: none;
}

.book-input::placeholder {
  color: #c4c4c4;
}

.error {
  color: red;
}
