@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.links {
  display: flex;
  padding: 1rem 10%;
  list-style: none;
}

.links li {
  padding: 0 1rem;
  font-size: 1.5rem;
}

.logo {
  text-decoration: none;
  color: #0290ff;
}

.link {
  text-decoration: none;
  color: #000;
  height: 1rem;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
}
